@font-face {
    font-family: "Pictos";
    src: url("fonts/pictos-web.eot");
    src: local("☺"), url("/fonts/pictos-web.woff") format("woff"),
        url("/fonts/pictos-web.ttf") format("truetype"),
        url("/fonts/pictos-web.svg#webfontIyfZbseF") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
	-webkit-text-size-adjust: 100%;
}


/* HEADER */
.l-header {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #ccc;
	z-index: 1;
}

.l-header__icon {
	max-width: 15%;
}

.l-header__tagline {
	max-width: 45%;
}

.l-header__content {
	text-align: center;
	padding: 0.9375rem 0;
}

@supports (display: flex) {
	.l-header__content {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


/* MAP */
#map {
    margin-top: 60px;
    height: 100vh;
    background: #e6e6e6;
}


/* LEAFLET */
.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content-wrapper {
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.leaflet-popup-content {
    margin: 10px;
}

.leaflet-popup-content p {
    padding-top: 5px;
    margin-top: 5px;
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
}

.leaflet-popup h2 {
    font-size: 17px;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.leaflet-popup-content p .grey {
    color: #ccc;
}


/* MEDIA QUERIES */
@media (min-width: 37.5em) { /* 600 */
	.l-header__icon,
	.l-header__tagline {
		display: inline-block;
		vertical-align: middle;
	}

	.l-header__icon {
		max-width: 3rem;
	}

	.l-header__tagline {
		max-width: 10rem;
	}
}